<section class="books-container">
<h1 *ngIf="books.length <= 0">Loading...</h1>
<div class="row">
  
<div *ngFor="let book of books" class="col-12 col-md-4 col-lg-4">
  <div class="card match-height-row animated fadeIn">
    <a [routerLink]="['/book-details', book.ID]" routerLinkActive="router-link-active">
      <span>Pages: {{ book.PageCount }}</span> 
      <img class="photo" src="https://loremflickr.com/350/260">
    
    <div class="data">
        <h2 class="book-title">{{ book.Title }}</h2>
        <p>{{ book.PublishDate | date}}</p>
    </div>
  </a>
  </div>
</div>
</div></section>